<%- include('./commons/header.ejs') %>
  <%- include('./commons/section_header.ejs') %>
  <div class="main_block">
    <%- include('./commons/section_tabs.ejs') %>
      <h2>首页内容</h2>
  </div>
<%- include('./commons/section_footer.ejs') %>

