<%- include('./commons/header.ejs') %>
<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                <span> 注册</span> <i class="am-icon-skyatlas"></i>
            </div>
        </div>

        <div class="login-font">
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" autocomplete="off" name="username" placeholder="输入用户名">
                    </div>
                    <div class="am-form-group">
                        <input type="password"  name="password" placeholder="输入密码">
                    </div>
                    <div class="am-form-group">
                        <input type="password"  name="repassword" placeholder="重复密码">
                    </div>
                    <p><button type="button" class="am-btn am_submit am-btn-default">注册</button></p>
                    <p><a href="/admin/login" class="am-btn am-btn-default">登录</a></p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    $('.am_submit').click(function(){
      var signForm=$('form.am-form').serialize();
      $.ajax({
        url:'/admin/signup',
        type:'post',
        data:signForm,
        success:function(res){
          var txt=res.data;
          var status=res.status;
          if(status==2){
                alertModel(txt);
                setTimeout(function(){
                    window.location.href='/admin/login'
                },1500)
            }else{
                alertModel(txt)
            }
        },
        error:function(err){
            alertModel(err.statusText)
        }
      })
    })
  </script>
<%- include('./commons/section_footer.ejs') %>
