<ul class="am-nav am-nav-pills">
    <% if(index==1){ %>
        <li class="am-active"><a href="/admin">首页</a></li>
    <% }else{ %>
        <li><a href="/admin">首页</a></li>
    <% } %>

    <% if(index==2){ %>
        <li class="am-active"><a href="/admin/banners">轮播列表</a></li>
    <% }else{ %>
        <li><a href="/admin/banners">轮播列表</a></li>
    <% } %>
</ul>